<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.talo.application" >

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Application" >
        <activity
            android:name=".MapActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCqGH5cuQ7Hm7BShj1Yhu5eUJA8-v6dxDI" />

        <service
            android:name=".BrService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".RadioActivity"
            android:exported="true" >

        </activity>

        <receiver
            android:name=".IsReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ServiceActivity"
            android:exported="false" />

        <service
            android:name=".IsService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".PhotoActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".MediaActivity"
            android:exported="true" />
        <activity
            android:name=".AnimationActivity"
            android:exported="true" />
        <activity
            android:name=".ThreadActivity2"
            android:exported="true" />
        <activity
            android:name=".ThreadActivity"
            android:exported="true" />
        <activity
            android:name=".UserPageActivity"
            android:exported="true" />
        <activity
            android:name=".RecycleViewActivity"
            android:exported="true" />
        <activity
            android:name=".ListViewActivity"
            android:exported="true" />
        <activity
            android:name=".MessageActivity"
            android:exported="true" />
        <activity
            android:name=".FragmentDemo"
            android:exported="true" />
        <activity
            android:name=".SecondActivity"
            android:exported="true" />
        <activity
            android:name=".ThirdActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>